@import "bourbon/bourbon";
@import "neat/neat";
@import "typography";

body > header, body > main, body > footer {
  @include outer-container;
  margin-bottom: emRhythm(3, $ms-down1);
}

q {
  quotes: "“" "”" "‘" "’";
  &:before {
    content: open-quote;
  }
  &:after {
    content: close-quote;
  }
}

main > section {
  margin-bottom: emRhythm(3, $ms-down1);
  @include span-columns(12);
}

#services {
  article {
    @include span-columns(4);
  }
}
.testimonials {
  blockquote {
    @include span-columns(6);
  }
}

main > .contact {
  @include span-columns(8);
  @include shift(2);
}
